@charset "UTF-8";

body {
    font: normal 1.3em 'arial';
    background: #3838eb;
}

header{
    text-align: center;
}

section {
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
}

footer {
    text-align: center;
}