@charset "UTF-8";
* {
    box-sizing: border-box;
}
body {
    font: normal 1.3em 'arial';
    background: #6f6fcf;
}

header{
    text-align: center;
}

section {
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 450px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
}
img#foto {
    border-radius: 55%;
}
.botao {
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 5px;
}
.botao:hover {
    background-color: #a7a7a7;
    color: black;
}

footer {
    text-align: center;
    font-style: italic;
}